# 0.1 Imports

In [150]:
import inflection
import pandas            as pd
import seaborn           as sns
import matplotlib.pyplot as plt

from IPython.core.display        import HTML

# 0.2 Helper functions

In [151]:
def jupyter_settings(): 
    %matplotlib inline 
    #%matplotlib notebook
    %pylab inline
    
    plt.style.use('bmh')
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    
     
    display( HTML( '<style>.container { width:100% !important; }</style>') )
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option ('display.expand_frame_repr', False)
    
    sns.set()

%matplotlib inline 
%matplotlib notebook

plt.style.use('bmh')
plt.rcParams['figure.figsize'] = [25, 12]
plt.rcParams['font.size'] = 24


display( HTML( '<style>.container { width:100% !important; }</style>') )
pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.set_option ('display.expand_frame_repr', False)

sns.set()

jupyter_settings()

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

# 1.0 Data Discriptive

## 1.1 Load dataset

In [152]:
df1 = pd.read_csv( '/Users/adriele/Documents/repos/pa006/dataset/bank.csv')

## 1.2 Rename columns

In [153]:
df1.columns

Index(['CUST_ID', 'BALANCE', 'BALANCE_FREQUENCY', 'PURCHASES',
       'ONEOFF_PURCHASES', 'INSTALLMENTS_PURCHASES', 'CASH_ADVANCE',
       'PURCHASES_FREQUENCY', 'ONEOFF_PURCHASES_FREQUENCY',
       'PURCHASES_INSTALLMENTS_FREQUENCY', 'CASH_ADVANCE_FREQUENCY',
       'CASH_ADVANCE_TRX', 'PURCHASES_TRX', 'CREDIT_LIMIT', 'PAYMENTS',
       'MINIMUM_PAYMENTS', 'PRC_FULL_PAYMENT', 'TENURE'],
      dtype='object')

In [154]:
df1.columns = [ 'id', 'balance', 'balance_freq', 'purchases','one_purchases', 'install_purchases', 'cash_adv',
       'purchases_freq', 'one_purchases_freq', 'purchases_install_freq', 'cash_adv_freq',
       'cash_adv_TRX', 'purchases_trx', 'credit_limit', 'payments','min_pay', 'prc_full_pay', 'tenure']

In [155]:
df1.head(20)

        id      balance  balance_freq  purchases  one_purchases  install_purchases     cash_adv  purchases_freq  one_purchases_freq  purchases_install_freq  cash_adv_freq  cash_adv_TRX  purchases_trx  credit_limit     payments       min_pay  prc_full_pay  tenure
0   C10001    40.900749      0.818182      95.40           0.00              95.40     0.000000        0.166667            0.000000                0.083333       0.000000             0              2        1000.0   201.802084    139.509787      0.000000      12
1   C10002  3202.467416      0.909091       0.00           0.00               0.00  6442.945483        0.000000            0.000000                0.000000       0.250000             4              0        7000.0  4103.032597   1072.340217      0.222222      12
2   C10003  2495.148862      1.000000     773.17         773.17               0.00     0.000000        1.000000            1.000000                0.000000       0.000000             0             12        7500.0   622.066742    627.284787      0.000000      12
3   C10004  1666.670542      0.636364    1499.00        1499.00               0.00   205.788017        0.083333            0.083333                0.000000       0.083333             1              1        7500.0     0.000000           NaN      0.000000      12
4   C10005   817.714335      1.000000      16.00          16.00               0.00     0.000000        0.083333            0.083333                0.000000       0.000000             0              1        1200.0   678.334763    244.791237      0.000000      12
5   C10006  1809.828751      1.000000    1333.28           0.00            1333.28     0.000000        0.666667            0.000000                0.583333       0.000000             0              8        1800.0  1400.057770   2407.246035      0.000000      12
6   C10007   627.260806      1.000000    7091.01        6402.63             688.38     0.000000        1.000000            1.000000                1.000000       0.000000             0             64       13500.0  6354.314328    198.065894      1.000000      12
7   C10008  1823.652743      1.000000     436.20           0.00             436.20     0.000000        1.000000            0.000000                1.000000       0.000000             0             12        2300.0   679.065082    532.033990      0.000000      12
8   C10009  1014.926473      1.000000     861.49         661.49             200.00     0.000000        0.333333            0.083333                0.250000       0.000000             0              5        7000.0   688.278568    311.963409      0.000000      12
9   C10010   152.225975      0.545455    1281.60        1281.60               0.00     0.000000        0.166667            0.166667                0.000000       0.000000             0              3       11000.0  1164.770591    100.302262      0.000000      12
10  C10011  1293.124939      1.000000     920.12           0.00             920.12     0.000000        1.000000            0.000000                1.000000       0.000000             0             12        1200.0  1083.301007   2172.697765      0.000000      12
11  C10012   630.794744      0.818182    1492.18        1492.18               0.00     0.000000        0.250000            0.250000                0.000000       0.000000             0              6        2000.0   705.618627    155.549069      0.000000      12
12  C10013  1516.928620      1.000000    3217.99        2500.23             717.76     0.000000        1.000000            0.250000                0.916667       0.000000             0             26        3000.0   608.263689    490.207013      0.250000      12
13  C10014   921.693369      1.000000    2137.93         419.96            1717.97     0.000000        0.750000            0.166667                0.750000       0.000000             0             26        7500.0  1655.891435    251.137986      0.083333      12
14  C10015  2772.772734      1.000000       0.00           0.00               0.00   346.811390        0.000000            0.000000                0.000000       0.083333             1              0        3000.0   805.647974    989.962866      0.000000      12
15  C10016  6886.213231      1.000000    1611.70           0.00            1611.70  2301.491267        0.500000            0.000000                0.500000       0.166667             4             11        8000.0  1993.439277   2109.906490      0.000000      12
16  C10017  2072.074354      0.875000       0.00           0.00               0.00  2784.274703        0.000000            0.000000                0.000000       0.250000             3              0        3000.0   391.974562    376.579631      0.000000       8
17  C10018    41.089489      0.454545     519.00           0.00             519.00     0.000000        0.416667            0.000000                0.333333       0.000000             0              8        2500.0   254.590662     73.203221      0.250000      12
18  C10019  1989.072228      1.000000     504.35         166.00             338.35     0.000000        0.666667            0.083333                0.583333       0.000000             0              9       13000.0  1720.837373    744.613395      0.000000      12
19  C10020  3577.970933      1.000000     398.64           0.00             398.64     0.000000        1.000000            0.000000                1.000000       0.000000             0             12        4000.0  1053.980464  12465.549380      0.000000      12

## 1.3 Data Dimension

In [156]:
print( 'Number of Cols {}'.format( df1.shape[1] ) )
print( 'Number of Rows {}'.format( df1.shape[0] ) )

Number of Cols 18
Number of Rows 8950

## 1.4 Check NA

In [157]:
df1.isna().sum()

id                          0
balance                     0
balance_freq                0
purchases                   0
one_purchases               0
install_purchases           0
cash_adv                    0
purchases_freq              0
one_purchases_freq          0
purchases_install_freq      0
cash_adv_freq               0
cash_adv_TRX                0
purchases_trx               0
credit_limit                1
payments                    0
min_pay                   313
prc_full_pay                0
tenure                      0
dtype: int64

## 1.5 Replace NA

In [158]:
df1 = df1.fillna(0)

In [159]:
df1.isna().sum()

id                        0
balance                   0
balance_freq              0
purchases                 0
one_purchases             0
install_purchases         0
cash_adv                  0
purchases_freq            0
one_purchases_freq        0
purchases_install_freq    0
cash_adv_freq             0
cash_adv_TRX              0
purchases_trx             0
credit_limit              0
payments                  0
min_pay                   0
prc_full_pay              0
tenure                    0
dtype: int64

## 1.6 Data Types

In [160]:
df1.dtypes

id                         object
balance                   float64
balance_freq              float64
purchases                 float64
one_purchases             float64
install_purchases         float64
cash_adv                  float64
purchases_freq            float64
one_purchases_freq        float64
purchases_install_freq    float64
cash_adv_freq             float64
cash_adv_TRX                int64
purchases_trx               int64
credit_limit              float64
payments                  float64
min_pay                   float64
prc_full_pay              float64
tenure                      int64
dtype: object

In [164]:
df1['id'] = df1['id'].apply(lambda x: x.replace('C', '')).astype(int)

In [165]:
df1.dtypes

id                          int64
balance                   float64
balance_freq              float64
purchases                 float64
one_purchases             float64
install_purchases         float64
cash_adv                  float64
purchases_freq            float64
one_purchases_freq        float64
purchases_install_freq    float64
cash_adv_freq             float64
cash_adv_TRX                int64
purchases_trx               int64
credit_limit              float64
payments                  float64
min_pay                   float64
prc_full_pay              float64
tenure                      int64
dtype: object

# 2.0 Feature Engeneering

In [166]:
df2 = df1.copy()

In [167]:
df2.head()

      id      balance  balance_freq  purchases  one_purchases  install_purchases     cash_adv  purchases_freq  one_purchases_freq  purchases_install_freq  cash_adv_freq  cash_adv_TRX  purchases_trx  credit_limit     payments      min_pay  prc_full_pay  tenure
0  10001    40.900749      0.818182      95.40           0.00               95.4     0.000000        0.166667            0.000000                0.083333       0.000000             0              2        1000.0   201.802084   139.509787      0.000000      12
1  10002  3202.467416      0.909091       0.00           0.00                0.0  6442.945483        0.000000            0.000000                0.000000       0.250000             4              0        7000.0  4103.032597  1072.340217      0.222222      12
2  10003  2495.148862      1.000000     773.17         773.17                0.0     0.000000        1.000000            1.000000                0.000000       0.000000             0             12        7500.0   622.066742   627.284787      0.000000      12
3  10004  1666.670542      0.636364    1499.00        1499.00                0.0   205.788017        0.083333            0.083333                0.000000       0.083333             1              1        7500.0     0.000000     0.000000      0.000000      12
4  10005   817.714335      1.000000      16.00          16.00                0.0     0.000000        0.083333            0.083333                0.000000       0.000000             0              1        1200.0   678.334763   244.791237      0.000000      12

# 3.0 Feature Filtering

In [169]:
df3 = df2.copy()

# 4.0 Exploratory Data Analysis

In [170]:
df4 = df3.copy()

# 5.0 Data Preparation

In [176]:
df5 = df4.copy()

# 6.0 Feature Selection

In [180]:
df6 = df5.copy()

# 7.0 Fine Tunning Hyperparameter

In [190]:
df7 = df6.copy()


x = df7.drop( columns=['id'] )