# PA006 - Bank Marketing  Strategy

# 0.1 Imports

In [5]:
import os
import inflection
import warnings
import pickle

import numpy             as np
import pandas            as pd
import seaborn           as sns
import matplotlib.pyplot as plt

from  sklearn  import  datasets        as dt
from  sklearn  import  cluster         as c
from  sklearn  import  metrics         as m
from  sklearn  import  manifold        as mn
from  sklearn  import  decomposition   as dd
from  sklearn  import  preprocessing   as pp
from  sklearn  import  mixture         as mx
from  sklearn  import  ensemble        as en
from  sklearn  import  model_selection as ms
from  sklearn  import  metrics as mt

from IPython.display             import Image
from bayes_opt                   import BayesianOptimization
from bayes_opt                   import UtilityFunction
from matplotlib                  import gridspec
from sklearn.neighbors           import NearestNeighbors
from pandas_profiling            import ProfileReport
from IPython.core.display        import HTML


import umap
from sklearn.datasets import load_digits
warnings.filterwarnings ('ignore')

In [6]:
# save to s3
AWS_ACCESS_KEY_ID = os.environ.get( 'AWS_ACCESS_KEY_ID_CDS' )
AWS_SECRET_ACCESS_KEY = os.environ.get( 'AWS_SECRET_ACCESS_KEY_CDS' )

In [7]:
print (AWS_SECRET_ACCESS_KEY)

Yn5uYlaYtmG6mtEBmRWOS2eD5TbobifIFkc+yv9x

# 1.0 Data Discriptive

## 1.1 Load dataset

In [8]:
import s3fs

# df1 = pd.read_csv( '/Users/adriele/Documents/repos/pa006/dataset/bank.csv')
df1 = pd.read_csv( 's3://bankm-strategy-dataset/bank.csv')
df1.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

## 1.2 Rename columns

In [9]:
df1.columns = [ 'id', 'balance', 'balance_freq', 'purchases','one_purchases', 'install_purchases', 'cash_adv',
       'purchases_freq', 'one_purchases_freq', 'purchases_install_freq', 'cash_adv_freq',
       'cash_adv_trx', 'purchases_trx', 'credit_limit', 'payments','min_pay', 'prc_full_pay', 'tenure']

## 1.3 Data Dimension

In [10]:
print( 'Number of Cols {}'.format( df1.shape[1] ) )
print( 'Number of Rows {}'.format( df1.shape[0] ) )

Number of Cols 18
Number of Rows 8950

## 1.4 Check NA

In [11]:
df1.isna().sum()

id                          0
balance                     0
balance_freq                0
purchases                   0
one_purchases               0
install_purchases           0
cash_adv                    0
purchases_freq              0
one_purchases_freq          0
purchases_install_freq      0
cash_adv_freq               0
cash_adv_trx                0
purchases_trx               0
credit_limit                1
payments                    0
min_pay                   313
prc_full_pay                0
tenure                      0
dtype: int64

## 1.5 Replace NA

In [12]:
df1['min_pay'] = df1['min_pay'].replace(np.nan, 0)
df1=df1.dropna()

## 1.6 Data Types

In [13]:
df1['id'] = df1['id'].replace('C', '', regex=True).astype( int)

# 1.7  Descriptive Startisc

In [14]:
num_attributes = df1.select_dtypes( include=['int64', 'float64'] )
cat_attributes = df1.select_dtypes( exclude=[ 'int64', 'float64', 'datetime64[ns]'] )

## 1.7.1 Numerical Atributes

In [15]:
# Central Tendency - mean, Median
ct1 = pd.DataFrame (num_attributes.apply (np.mean) ).T
ct2 = pd.DataFrame (num_attributes.apply (np.median) ).T

# Dispersion - std, min, max, range, skew, kurtosis
d1 = pd.DataFrame (num_attributes.apply (np.std) ).T
d2 = pd.DataFrame (num_attributes.apply (min)).T
d3 = pd.DataFrame (num_attributes.apply (max)).T
d4 = pd.DataFrame (num_attributes.apply (lambda x: x.max () -x.min ()) ).T
d5 = pd.DataFrame (num_attributes.apply (lambda x: x.skew () ) ).T
d6 = pd.DataFrame (num_attributes.apply (lambda x: x.kurtosis ()) ).T

# Concatane
med =pd.concat ([ d2, d3, d4, ct1, ct2, d1, d5, d6]).T.reset_index()
med.columns = ['attributes', 'min', 'max', 'range', 'mean', 'median', 'std', 'skew', 'kurtosis']


# Percetis
percentis =  num_attributes.apply( lambda x: np.percentile( x, q=[10, 25, 50, 75, 95,99] ) ).T.reset_index()
percentis.columns = ['attributes', 'P10', 'P25', 'P50', 'P75', 'P95', 'P99']

m2 = pd.merge( med, percentis, how='inner', on='attributes')
m2

,attributes,min,max,range,mean,median,std,skew,kurtosis,P10,P25,P50,P75,P95,P99
0,id,10001.0,19190.00000,9189.00000,14599.956978,14598.000000,2651.294053,-0.000735,-1.199430,10925.800000,12307.000000,14598.000000,16900.000000,18732.600000,19100.520000
1,balance,0.0,19043.13856,19043.13856,1564.647593,873.680279,2081.467710,2.393270,7.674046,23.586295,128.365782,873.680279,2054.372848,5909.377888,9338.873258
2,balance_freq,0.0,1.00000,1.00000,0.877350,1.000000,0.236785,-2.024193,3.097607,0.454545,0.888889,1.000000,1.000000,1.000000,1.000000
3,purchases,0.0,49039.57000,49039.57000,1003.316936,361.490000,2136.608461,8.143969,111.379918,0.000000,39.800000,361.490000,1110.170000,3998.764000,8977.910000
4,one_purchases,0.0,40761.25000,40761.25000,592.503572,38.000000,1659.876102,10.044622,164.172057,0.000000,0.000000,38.000000,577.830000,2671.528000,6690.126400
5,install_purchases,0.0,22500.00000,22500.00000,411.113579,89.000000,904.327674,7.298823,96.567168,0.000000,0.000000,89.000000,468.650000,1750.420000,3886.256000
6,cash_adv,0.0,47137.21176,47137.21176,978.959616,0.000000,2097.147163,5.166323,52.894099,0.000000,0.000000,0.000000,1113.868654,4647.894019,9588.329752
7,purchases_freq,0.0,1.00000,1.00000,0.490405,0.500000,0.401337,0.059970,-1.638611,0.000000,0.083333,0.500000,0.916667,1.000000,1.000000
8,one_purchases_freq,0.0,1.00000,1.00000,0.202480,0.083333,0.298328,1.535453,1.161319,0.000000,0.000000,0.083333,0.300000,1.000000,1.000000
9,purchases_install_freq,0.0,1.00000,1.00000,0.364478,0.166667,0.397429,0.509023,-1.398798,0.000000,0.000000,0.166667,0.750000,1.000000,1.000000
10,cash_adv_freq,0.0,1.50000,1.50000,0.135141,0.000000,0.200121,1.828644,3.334191,0.000000,0.000000,0.000000,0.222222,0.583333,0.833333
11,cash_adv_trx,0.0,123.00000,123.00000,3.249078,0.000000,6.824605,5.720976,61.640368,0.000000,0.000000,0.000000,4.000000,15.000000,29.000000
12,purchases_trx,0.0,358.00000,358.00000,14.711476,7.000000,24.857163,4.630493,34.790599,0.000000,1.000000,7.000000,17.000000,57.000000,116.520000
13,credit_limit,50.0,30000.00000,29950.00000,4494.449450,3000.000000,3638.612411,1.522464,2.836656,1200.000000,1600.000000,3000.000000,6500.000000,12000.000000,17000.000000
14,payments,0.0,50721.48336,50721.48336,1733.336511,857.062706,2895.006383,5.907465,54.767277,179.804140,383.282850,857.062706,1901.279320,6082.239054,13609.614291
15,min_pay,0.0,76406.20752,76406.20752,834.075035,289.686899,2335.973851,13.807831,292.330705,85.426622,163.029483,289.686899,788.721609,2719.861546,8627.047593
16,prc_full_pay,0.0,1.00000,1.00000,0.153732,0.000000,0.292495,1.942641,2.431659,0.000000,0.000000,0.000000,0.142857,1.000000,1.000000
17,tenure,6.0,12.00000,6.00000,11.517935,12.000000,1.337059,-2.944788,7.707385,10.000000,12.000000,12.000000,12.000000,12.000000,12.000000

# 2.0 Data Filtering

In [16]:
df2 = df1.copy()

# 3.0 Feature Engeneering

In [17]:
df3 = df2.copy()

In [18]:



df3['one_payment'] = df3['one_purchases'].apply( lambda x: 0 if x == 0.00 else 1)

df3['gross_revenue'] =  df3['balance'] + df3['cash_adv'] * 0.03
df3 = df3.dropna()

# 4.0 Exploratory Data Analysis

In [19]:
df4 = df3.copy()

## 4.1 Univariate Analysis

In [20]:
profile = ProfileReport( df4 )
profile.to_file( 'output.html' )

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [21]:
correlation = num_attributes.corr (method = 'pearson')
sns.heatmap (correlation, annot = True);

## 4.2 Bivariate Analysis

In [22]:
cols = ['id']
df42 = df4.drop( cols, axis=1 )
df4 = df4.dropna()

## 4.3 Outliers Detection

In [23]:

sns.boxplot (df4[['balance', 'purchases', 'one_purchases','install_purchases', 'cash_adv', 'credit_limit', 'payments', 'min_pay']] )

### 4.3.1 Isolation Forest

In [24]:
df41 = df4[['id', 'balance', 'purchases', 'one_purchases','install_purchases', 'cash_adv', 'credit_limit', 'payments', 'min_pay',
            'purchases_trx','cash_adv_trx', 'gross_revenue', 'purchases_freq', 'cash_adv_freq' ]]
df41_aux = df41.copy()

In [25]:
anomaly_inputs = df41.copy()
model_IF = en.IsolationForest(contamination=float(0.1),random_state=42)

model_IF.fit(anomaly_inputs)


df41['anomaly_scores'] = model_IF.decision_function( anomaly_inputs )
df41['anomaly'] = model_IF.predict( anomaly_inputs )

# Print out key statistics
print(f"Number of anomalous values {len(df41[df41['anomaly']==-1])}")
print(f"Number of non anomalous values  {len(df41[df41['anomaly']== 1])}")
print(f'Total Number of Values: {len(df41)}')



# palette = ['#ff7f0e', '#1f77b4']
# sns.pairplot(df41, vars=anomaly_inputs, hue='anomaly', palette=palette)

Number of anomalous values 895
Number of non anomalous values  8054
Total Number of Values: 8949

### 4.3.2 Clean Outliers

In [26]:

#Remove outliers where 1 represent inliers and -1 represent outliers:
X_train_cleaned = df41[np.where(df41['anomaly'] == 1, True, False)]
X_train_cleaned.shape

#sns.pairplot(X_train_cleaned, vars=anomaly_inputs,palette=palette)

(8054, 16)

# 4.3.3 Outliers

In [27]:
outliers = df41[np.where(df41['anomaly'] == -1, True, False)]

#sns.pairplot(outliers, vars=anomaly_inputs, hue='anomaly', palette=palette)

## 4.5 Study of Space

In [28]:
cols_selected = X_train_cleaned.drop(columns=['anomaly', 'anomaly_scores'], axis=1)

df44 = cols_selected.copy()

In [29]:
#  Min Max Sacler Clean Dataset

mm = pp.MinMaxScaler()


df44['gross_revenue'] = mm.fit_transform( df44[['gross_revenue']] )
pickle.dump( mm, open('/Users/adriele/Documents/repos/pa006/src/features/gross_revenue_scaler.pkl', 'wb') )

df44['balance'] = mm.fit_transform( df44[['balance']] )
pickle.dump( mm, open('/Users/adriele/Documents/repos/pa006/src/features/gross_revenue_scaler.pkl', 'wb') )

df44['min_pay'] = mm.fit_transform( df44[['min_pay']] )
pickle.dump( mm, open('/Users/adriele/Documents/repos/pa006/src/features/balance.pkl', 'wb') )

df44['payments'] = mm.fit_transform( df44[['payments']] )
pickle.dump( mm, open('/Users/adriele/Documents/repos/pa006/src/features/payments.pkl', 'wb') )

df44['cash_adv'] = mm.fit_transform( df44[['cash_adv']] )
pickle.dump( mm, open('/Users/adriele/Documents/repos/pa006/src/features/cash_adv.pkl', 'wb') )

df44['purchases'] = mm.fit_transform( df44[['purchases']] )
pickle.dump( mm, open('/Users/adriele/Documents/repos/pa006/src/features/purchases.pkl', 'wb') )

df44['cash_adv_trx'] = mm.fit_transform( df44[['cash_adv_trx']] )
pickle.dump( mm, open('/Users/adriele/Documents/repos/pa006/src/features/cash_adv_trx.pkl', 'wb') )

df44['credit_limit'] = mm.fit_transform( df44[['credit_limit']] )
pickle.dump( mm, open('/Users/adriele/Documents/repos/pa006/src/features/credit_limit.pkl', 'wb') )

df44['cash_adv_freq'] = mm.fit_transform( df44[['cash_adv_freq']] )
pickle.dump( mm, open('/Users/adriele/Documents/repos/pa006/src/features/cash_adv_freq.pkl', 'wb') )

df44['one_purchases'] = mm.fit_transform( df44[['one_purchases']] )
pickle.dump( mm, open('/Users/adriele/Documents/repos/pa006/src/features/one_purchases.pkl', 'wb') )

df44['purchases_trx'] = mm.fit_transform( df44[['purchases_trx']] )
pickle.dump( mm, open('/Users/adriele/Documents/repos/pa006/src/features/gross_revenue_scaler.pkl', 'wb') )

df44['purchases_freq'] = mm.fit_transform( df44[['purchases_freq']] )
pickle.dump( mm, open('/Users/adriele/Documents/repos/pa006/src/features/purchases_freq.pkl', 'wb') )

df44['install_purchases'] = mm.fit_transform( df44[['install_purchases']] )
pickle.dump( mm, open('/Users/adriele/Documents/repos/pa006/src/features/install_purchases.pkl', 'wb') )


x = df44.copy()

### 4.5.1 PCA Clean Dataset

In [30]:
pca = dd.PCA( n_components =  x.shape[1] )

principal_components = pca.fit_transform( x )

# Plot Explaneid Variable
features = range( pca.n_components_ )

plt.bar( features, pca.explained_variance_ratio_)

# PCA Conponent
df_pca = pd.DataFrame( principal_components )

In [31]:
sns.scatterplot( x=0, y=1, data=df_pca )

### 4.5.2 Umap

In [32]:
reducer = umap.UMAP( random_state=42 )
embedding = reducer.fit_transform( x )

# Embedding
df_pca['embedding_x'] = embedding[:, 0]
df_pca['embedding_y'] = embedding[:, 1]


# Plot UMAP
sns.scatterplot( x='embedding_x',
                 y='embedding_y',
                 data = df_pca )

### 4.5.3 T-SNE

In [33]:
reducer = mn.TSNE( n_components=2, random_state=42, n_jobs =1)

embedding = reducer.fit_transform( x )

# Embedding
df_pca['embedding_x'] = embedding[:, 0]
df_pca['embedding_y'] = embedding[:, 1]


# Plot UMAP
sns.scatterplot( x='embedding_x',
                 y='embedding_y',
                 data = df_pca )

### 4.5.4 Tree Based Imbedding

In [34]:
x = df44.drop( columns=[ 'gross_revenue' ], axis=1)
y = df44['gross_revenue']

# model definition
rf_model = en.RandomForestRegressor( n_estimators=100, random_state=42 )

# Model training
rf_model.fit( x, y )

pickle.dump( rf_model, open('/Users/adriele/Documents/repos/pa006/src/models/rf_model.pkl', 'wb') )

# dataframe Leaf
df_leaf= pd.DataFrame( rf_model.apply( x ) )

In [35]:
reducer = umap.UMAP( random_state=42 )
embedding = reducer.fit_transform( df_leaf )

pickle.dump( reducer, open('/Users/adriele/Documents/repos/pa006/src/models/umap_reducer.pkl', 'wb') )

# Embedding
df_tree = pd.DataFrame()
df_tree['embedding_x'] = embedding[:, 0]
df_tree['embedding_y'] = embedding[:, 1]


# Plot UMAP
sns.scatterplot( x='embedding_x',
                 y='embedding_y',
                 data = df_tree )

# 5.0 Data Preparation

In [36]:

df5 = df_tree.copy()

# 6.0 Feature Selection

In [37]:
df6 = df5.copy()

# 7.0 Fine Tunning Hyperparameter

In [38]:
df7   = df6.copy()

x     = df_tree.copy()

#x_aux = df_tree_aux.copy()

## 7.1 KMeans Clean

In [39]:
clusters = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

silhouette_list = []
davies_list = []

for k in clusters:
    # modeldefinition
    kmeans_model = c.KMeans( n_init=10, n_clusters=k )
    
    # model training
    kmeans_model.fit( x )
    
    # Model predict 
    labels =  kmeans_model.predict( x )
    
    # model performance
    sil = m.silhouette_score( x, labels )
    dav = m.davies_bouldin_score( x, labels )
    
    
    silhouette_list.append( sil)
    davies_list.append( dav )

In [40]:
plt.figure( figsize=( 20, 10))
plt.plot( clusters, silhouette_list, linestyle='--', marker='o', color='b')
plt.xlabel( 'k - Number of Clusters' )
plt.ylabel( 'SS - Silhouette Score' )
plt.title('Silhouette Score');

In [41]:
plt.figure( figsize=( 20, 10))
plt.plot( clusters, davies_list, linestyle='--', marker='o', color='b')
plt.xlabel( 'k - Number of Clusters' )
plt.ylabel( 'DB - Davies Score' )
plt.title('Davies Score');

## 7.2 GMM Clean

In [42]:
gmm_list = []
for k in clusters:
    # Model definition
    gmm_model = mx.GaussianMixture( n_components=k )

    # Model training
    gmm_model.fit( x )

    # Model  predict
    labels = gmm_model.predict( x )

    # Model performance
    sil = m.silhouette_score( x, labels, metric='euclidean')
    gmm_list.append( sil )
    
    
    
plt.plot( clusters, gmm_list, linestyle='--', marker='o', color='b')  
plt.xlabel( 'k');
plt.ylabel( 'Silhouette Score' );
plt.title( 'Sil x K');

## 7.3 DBScan Clean

In [43]:
#eps =0.1
eps =0.2
min_samples = 20
dbscan_list = []

for k in clusters:
    # Model definition
    dbscan_model =c.DBSCAN( eps=eps, min_samples=min_samples )

    # Model training
    labels = dbscan_model.fit_predict( x )


    # Model performance
    sil = m.silhouette_score( x, labels, metric='euclidean')
    dbscan_list.append( sil )

    neigbors = NearestNeighbors( n_neighbors=min_samples ).fit( x )
    distances, indices = neigbors.kneighbors( x )
    
    

distances = np.sort( distances, axis=0 )
distances = distances[:, 1]
plt.plot( distances )

## 7.4 Hierarchical Model Clean

In [44]:
from  scipy.cluster import hierarchy as hc

hc_model = hc.linkage( x, 'ward')
hc_list = []
for k in clusters:
    # Model definition
    hc_model =hc.linkage( x, 'ward' )

    # Model  predict
    labels = hc.fcluster( hc_model, k, criterion='maxclust' )

    # Model performance
    sil = m.silhouette_score( x, labels, metric='euclidean')
    hc_list.append( sil )
    
    
    
plt.plot( clusters, hc_list, linestyle='--', marker='o', color='b')  
plt.xlabel( 'k');
plt.ylabel( 'Silhouette Score' );
plt.title( 'Sil x K');

## 7.4 Results

In [45]:

df_results = pd.DataFrame({'KMeans': silhouette_list,
                           'Davies': davies_list,
                           'GMM' :gmm_list,
                           'HC':hc_list}
                         
                         ).T

df_results.columns = clusters
df_results.style.highlight_max( color='lightgreen', axis=1)

# 8.0 Machine Learning

In [46]:
df8 = df7.copy()

## 8.1 Final Model

In [47]:
k=9
# modeldefinition
kmeans_model = c.KMeans( n_init=10, n_clusters=k )

# model training
kmeans_model.fit( x )

# Model predict 
labels =  kmeans_model.predict( x )

## 8.2 Cluster Validation

In [48]:
print( 'SS value: {}'.format( m.davies_bouldin_score( x, labels) ) )

SS value: 0.785875740628383

# 9.0 Clustering Analysis

In [49]:
df9 = x.copy()
df9['cluster'] = labels

## 9.1 Visualixation Impection

In [50]:
sns.scatterplot( x= 'embedding_x', y='embedding_y', hue='cluster', data=df9, palette='deep')

## 9.2 Cluster Profile

In [51]:
df92= cols_selected.copy()
df92['cluster'] = labels

In [52]:
# Number of customer
df_cluster = df92[['id', 'cluster']].groupby( 'cluster' ).count().reset_index()
df_cluster['perc_customer'] = 100 * ( df_cluster['id'] / df_cluster['id'].sum() )
df_cluster['perc_customer'] = df_cluster['perc_customer'].map( '{:.2f}%'.format)

# Avg  Balance
df_avg_balance = df92[['balance', 'cluster']].groupby( 'cluster' ).mean().reset_index()
df_cluster = pd.merge( df_cluster, df_avg_balance, how='inner', on='cluster' )
df_cluster['balance'] = df_cluster['balance'].map( '${:,.2f}'.format)

# Agv Purchases
df_avg_purchases= df92[['purchases', 'cluster']].groupby( 'cluster' ).mean().reset_index()
df_cluster = pd.merge( df_cluster, df_avg_purchases, how='inner', on='cluster' )
df_cluster['purchases'] = df_cluster['purchases'].map( '${:,.2f}'.format)

# Agv One Purchases
df_avg_one_purchases= df92[['one_purchases', 'cluster']].groupby( 'cluster' ).mean().reset_index()
df_cluster = pd.merge( df_cluster, df_avg_one_purchases, how='inner', on='cluster' )
df_cluster['one_purchases'] = df_cluster['one_purchases'].map( '${:,.2f}'.format)

# Agv Install Purchases
df_avg_install_purchases= df92[['install_purchases', 'cluster']].groupby( 'cluster' ).mean().reset_index()
df_cluster = pd.merge( df_cluster, df_avg_install_purchases, how='inner', on='cluster' )
df_cluster['install_purchases'] = df_cluster['install_purchases'].map( '${:,.2f}'.format)

# Agv Install Purchases TRX
df_avg_install_purchases_trx= df92[['purchases_trx', 'cluster']].groupby( 'cluster' ).mean().reset_index()
df_cluster = pd.merge( df_cluster, df_avg_install_purchases_trx, how='inner', on='cluster' )


# Agv Purchase Frequency
df_avg_purchases_freq= df92[['purchases_freq', 'cluster']].groupby( 'cluster' ).mean().reset_index()
df_cluster = pd.merge( df_cluster, df_avg_purchases_freq, how='inner', on='cluster' )

# Agv Payments
df_avg_payments= df92[['payments', 'cluster']].groupby( 'cluster' ).mean().reset_index()
df_cluster = pd.merge( df_cluster, df_avg_payments, how='inner', on='cluster' )
df_cluster['payments'] = df_cluster['payments'].map( '${:,.2f}'.format)

# Agv Minimum Payments
df_avg_min_pay= df92[['min_pay', 'cluster']].groupby( 'cluster' ).mean().reset_index()
df_cluster = pd.merge( df_cluster, df_avg_min_pay, how='inner', on='cluster' )
df_cluster['min_pay'] = df_cluster['min_pay'].map( '${:,.2f}'.format)


# Agv Credit Limit
df_avg_credit_limit= df92[['credit_limit', 'cluster']].groupby( 'cluster' ).mean().reset_index()
df_cluster = pd.merge( df_cluster, df_avg_credit_limit, how='inner', on='cluster' )


# Agv Cash ADV
df_avg_cash_adv= df92[['cash_adv', 'cluster']].groupby( 'cluster' ).mean().reset_index()
df_cluster = pd.merge( df_cluster, df_avg_cash_adv, how='inner', on='cluster' )
df_cluster['cash_adv'] = df_cluster['cash_adv'].map( '${:,.2f}'.format)

# Agv Cash ADV TRX
df_avg_cash_adv_trx= df92[['cash_adv_trx', 'cluster']].groupby( 'cluster' ).mean().reset_index()
df_cluster = pd.merge( df_cluster, df_avg_cash_adv_trx, how='inner', on='cluster' )

# Agv Cash Advance Frequency
df_avg_cash_adv_freq= df92[['cash_adv_freq', 'cluster']].groupby( 'cluster' ).mean().reset_index()
df_cluster = pd.merge( df_cluster, df_avg_cash_adv_freq, how='inner', on='cluster' )


# Agv Gross Revenue
df_avg_gross_revenue= df92[['gross_revenue', 'cluster']].groupby( 'cluster' ).mean().reset_index()
df_cluster = pd.merge( df_cluster, df_avg_gross_revenue, how='inner', on='cluster' )
df_cluster['gross_revenue'] = df_cluster['gross_revenue'].map( '${:,.2f}'.format)

df_cluster

,cluster,id,perc_customer,balance,purchases,one_purchases,install_purchases,purchases_trx,purchases_freq,payments,min_pay,credit_limit,cash_adv,cash_adv_trx,cash_adv_freq,gross_revenue
0,0,914,11.35%,$255.19,"$1,216.83",$668.74,$548.39,17.103939,0.601945,"$1,553.85",$238.30,4143.110868,$301.42,1.137856,0.060187,$264.24
1,1,955,11.86%,$26.81,$339.91,$106.74,$233.98,8.543455,0.572343,$550.42,$109.75,3431.867365,$47.81,0.194764,0.010936,$28.25
2,2,648,8.05%,"$1,374.01",$585.77,$334.85,$251.03,10.302469,0.395318,"$1,170.09",$841.28,2896.576880,$776.61,3.297840,0.155393,"$1,397.31"
3,3,963,11.96%,$757.47,$784.14,$484.13,$300.37,12.113188,0.451279,"$1,290.80",$453.43,3077.622015,$632.88,2.700935,0.128403,$776.46
4,4,653,8.11%,"$4,112.35",$707.04,$466.51,$240.59,10.493109,0.371583,"$1,853.88","$1,429.33",6812.947237,"$1,929.13",5.142420,0.241017,"$4,170.23"
5,5,939,11.66%,$850.25,$750.33,$460.72,$289.63,11.682641,0.433291,"$1,256.20",$565.60,2751.875518,$550.61,2.521832,0.127735,$866.77
6,6,944,11.72%,$93.88,$745.21,$311.79,$433.75,12.997881,0.644395,$966.46,$157.03,4043.810724,$93.57,0.397246,0.022461,$96.69
7,7,660,8.19%,"$1,647.22",$225.11,$94.72,$130.39,5.471212,0.353399,$760.26,$552.93,4782.075758,$718.61,1.892424,0.089955,"$1,668.78"
8,8,1378,17.11%,"$2,181.47",$692.79,$432.88,$260.03,11.288099,0.375408,"$1,496.33",$972.59,4274.177552,"$1,209.07",4.152395,0.193743,"$2,217.74"

# Model Results

In [53]:

# Percentage Customers
df_return = df92[['id', 'cluster']].groupby( 'cluster' ).count().reset_index()
df_return['perc_customer'] = 100 * ( df_return['id'] / df_return['id'].sum() )
df_return['perc_customer'] = df_return['perc_customer'].map( '{:.2f}%'.format)

# Gross Revenue Total by Cluster
df_gross_revenue= df92[['gross_revenue', 'cluster']].groupby( 'cluster' ).sum().reset_index()
df_return = pd.merge( df_return, df_gross_revenue, how='inner', on='cluster' )
df_return['gross_revenue'] = df_return['gross_revenue'].map( '${:,.2f}'.format)

# Percentage Retun by Cluster
df_return['perc_return'] = 100 * ( df_gross_revenue['gross_revenue'] / df_gross_revenue['gross_revenue'].sum() )
df_return['perc_return'] = df_return['perc_return'].map( '{:.2f}%'.format) 


df_return.head(10)

   cluster    id perc_customer  gross_revenue perc_return
0        0   914        11.35%    $241,512.38       2.49%
1        1   955        11.86%     $26,975.68       0.28%
2        2   648         8.05%    $905,458.36       9.33%
3        3   963        11.96%    $747,727.40       7.70%
4        4   653         8.11%  $2,723,158.81      28.05%
5        5   939        11.66%    $813,896.01       8.38%
6        6   944        11.72%     $91,275.47       0.94%
7        7   660         8.19%  $1,101,394.18      11.35%
8        8  1378        17.11%  $3,056,043.55      31.48%

# 11.0 Deploy to Production

In [54]:
df10 = df92.copy()
df10['credit_limit']= df10['credit_limit'].astype( int )
#df10['credit_limit']= df10['credit_limit'].astype( int )
df10.head()

,id,balance,purchases,one_purchases,install_purchases,cash_adv,credit_limit,payments,min_pay,purchases_trx,cash_adv_trx,gross_revenue,purchases_freq,cash_adv_freq,cluster
0,10001,40.900749,95.40,0.00,95.4,0.000000,1000,201.802084,139.509787,2,0,40.900749,0.166667,0.000000,1
1,10002,3202.467416,0.00,0.00,0.0,6442.945483,7000,4103.032597,1072.340217,0,4,3395.755780,0.000000,0.250000,4
2,10003,2495.148862,773.17,773.17,0.0,0.000000,7500,622.066742,627.284787,12,0,2495.148862,1.000000,0.000000,8
3,10004,1666.670542,1499.00,1499.00,0.0,205.788017,7500,0.000000,0.000000,1,1,1672.844183,0.083333,0.083333,8
4,10005,817.714335,16.00,16.00,0.0,0.000000,1200,678.334763,244.791237,1,0,817.714335,0.083333,0.000000,3

In [55]:
df10.dtypes

id                     int64
balance              float64
purchases            float64
one_purchases        float64
install_purchases    float64
cash_adv             float64
credit_limit           int64
payments             float64
min_pay              float64
purchases_trx          int64
cash_adv_trx           int64
gross_revenue        float64
purchases_freq       float64
cash_adv_freq        float64
cluster                int32
dtype: object

In [56]:
import sqlite3
from sqlalchemy import create_engine

In [60]:
# CREATE TABLE
host = 'database-bankm.cwe9ihoq6ao2.us-west-1.rds.amazonaws.com'
port = '5432'
database = 'postgres'
user = 'pa006'
pwd = 'cenoura0987'
endpoint = 'postgresql://pa006:cenoura0987@database-bankm.cwe9ihoq6ao2.us-west-1.rds.amazonaws.com/postgres'

# conn = create_engine( endpoint )



# query_create_bank = """
#     CREATE TABLE bank_l(
#         id                     INTEGER,
#         balance                REAL,
#         purchases              REAL,
#         one_purchases          REAL,
#         install_purchases      REAL,
#         cash_adv               REAL,
#         credit_limit           INTEGER,
#         payments               REAL,
#         min_pay                REAL,
#         purchases_trx          INTEGER,
#         cash_adv_trx           INTEGER,
#         gross_revenue          REAL,
#         purchases_freq         REAL,
#         cash_adv_freq          REAL,
#         cluster                INTEGER
        
#      )
# """        

# #connn= conn.connect()
# # conn = engine.connect()

# conn.execute( query_create_bank )
#conn.commit()
#conn.close()


# # insert data
# conn = create_engine( 'sqlite:///bank_strategy.sqlite' )
df10.to_sql('bank', con=conn, if_exists='append', index=False )

In [61]:
#df10.to_sql('bank', con=conn, if_exists='append', index=False )

54

In [62]:
# Consulting data base
# query = """

#     SELECT * FROM bank
    
# """

# df =pd.read_sql_query( query, conn)